// imports and variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$red: #d51125;
$blue: #145a97;
$darkblue: #002a5c;

// reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

// animations
@keyframes wiggle {
    0%, 20%{
        transform: rotate(15deg) translateX(2px);
    }
    20%, 35%{
        transform: rotate(-15deg) translateX(-2px);

    }
    35%, 55%{
        transform: rotate(15deg) translateX(2px);

    }
    55%, 70%{
        transform: rotate(-15deg) translateX(-2px);

    }
    70%, 100%{
        transform: rotate(0deg) translateX(0px);
    }
}

// main content
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  background-color: white;
  font-family: 'Open Sans', sans-serif;

  ::selection {
    color: $red;
    background: rgb(248, 248, 248);
    ;
  }

  header{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    .rightNav{
        height: 100%;
        width: 65%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background-image: url(../assets/header_photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .currentWork{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 3%;
            right: 3%;
            z-index: 10;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
            background-color: $red;
            color: white;
            font-size: 14px;
            font-weight: 600;
            
        }
        .delivery{
            width: 320px;
            height: 45px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            bottom: 1vh;
            left: 0.6vw;
            color: white;
            background-color: $blue;
            font-size: 18px;
            padding-left: 5px;
            padding-right: 5px;
            font-weight: 600;
            

        }
    }
    .leftNav{
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        .logo{
            margin-bottom: 7%;
        }
        .location{
            height: 19%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            h1{
                font-size: 48px;
                color: $darkblue;
                font-weight: 600;
            }
            .details{
                text-decoration: none;
                color: $red;
                font-size: 16px;
                width: 50%;
                padding: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgb(248, 248, 248);
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 50px;
                font-weight: bold;
                cursor: pointer;
                img{
                    margin-right: -10%;
                }

                &:hover{
                    img{
                        animation: wiggle 1s ease-in-out infinite;
                    }
                }
            }
        }
        .quickDescription{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            cursor: pointer;

            h2{
                color: $darkblue;
                font-size: 32px;
                font-weight: 600;
            }
            .price{
                margin-top: -5%;
                width: 55%;
                height: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: $red;
                color: white;
                box-shadow: 10px 12px white, 10px 12px 0 2px $blue;
                transition: 0.2s ease-in-out;
                position: relative;
                overflow: hidden;
                .from{
                    width: 85%;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 11px;
                }
                .priceInfo{
                    width: 85%;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 38px;
                    font-weight: bold;
                }
                ::before{
                    content: "";
                    height: 160%;
                    width: 50px;
                    background: rgba(255,255,255,.3);
                    position: absolute;
                    top: -20px;
                    transform: translateX(-200px) rotate(20deg);
                    transition: all .5s;
                }
                &:hover{
                    box-shadow: 7px 9px white, 7px 9px 0 2px $blue;
                    background-color: #d84857;
                    ::before{
                        transform: translateX(300px) rotate(20deg);
                    }
                }
            }
        }
    }
  }

  main{
    margin-top: 10vh;
    width: 84vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .mainContent{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h3{
            font-size: 36px;
            color: $darkblue;
        }
        .checklist{
            margin-top: 5vh;
            margin-bottom: 5vh;
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
            color: $blue;
            margin-left: 2vw;
            li{
                img{
                    margin-right: 1vw;
                }
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                font-size: 22px;
            }
        }
        p{
            font-size: 22px;
            color: $darkblue;
        }
        .firstParagraph{
            margin-bottom: 3vh;
        }

        .photo{
            margin-top: 10vh;
            margin-bottom: 10vh;
            width: 70%;
            height: 40vh;
            background-image: url(../assets/appartment_photo.png);
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            box-shadow: 25px 25px 0px $darkblue;

            &:hover{
                box-shadow: 15px 15px 0px $darkblue;
            }
        }
    }
    .formContainer{
        width: 27.5%;
        height: 130vh;
        margin-top: -30vh;
        .container{
            position: sticky;
            top: 10vh;
            width: 100%;
            height: 73vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            background-color: $blue;
            h4{
                font-size: 28px;
                color: white;
                width: 19ch;
                text-align: center;
            }
            .form{
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                .input{
                    width: 100%;
                    height: 40px;
                    margin-bottom: -2%;
                    padding-left: 10px;
                    color: $blue;
                    font-size: 16px;
                    color: $blue;
                    font-weight: bold;
                    &:focus{
                        outline: none;
                    }
                }
                input[type=radio]{
                    accent-color: $red;
                    transform: scale(1.3);
                    margin-right: 10%;
                }
                .gender, .type{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .choice1, .choice2{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row-reverse;
                    }
                    .title, label{
                        color: white;
                    }
                }
                .doubleInput{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input{
                        width: 47%;
                    }
                }
    
                .type{
                    margin-top: 1%;
                    .choice3, .choice4{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row-reverse;
                    }
                }
                .customMessage{
                    width: 100%;
                    height: 15%;
                    padding: 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    color: $blue;
                    &:focus{
                        outline: none;
                    }
                }
                .termsAndConditions{
                    width: 100%;
                    height: 5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: -2%;
                    margin-bottom: 7%;
                    .acceptTerms{
        
                    }
                    p{
                        width: 93%;
                        height: 100%;
                        text-align: left;
                        font-size: 10px;
                        color: white;
                        a{
                            color: white;
                        }
                    }
                }
                .submit{
                    width: 100%;
                    height: 45px;
                    background-color: $red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    img{
                        margin-right: 5%;
                        height: 70%;
                        width: auto;
                    }
                    p{
                        color: white;
                        font-size: 18px;
                    }
                    &:focus{
                        background-color: #d83243;
                        outline: none;
                    }

                    ::before{
                        content: "";
                        height: 160%;
                        width: 40px;
                        background: rgba(255,255,255,.3);
                        position: absolute;
                        top: -20px;
                        transform: translateX(-150px) rotate(20deg);
                        transition: all .5s;
                    }
                    &:hover{
                        ::before{
                            transform: translateX(300px) rotate(20deg);
                        }
                    }
    
                }
                .fieldsRequired{
                    position: relative;
                    bottom: 1%;
                    left: -25%;
                    font-size: 12px;
                    color: white;
                }
            }

        }
    }
  }

  footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h5{
        width: 84vw;
        font-size: 12px;
        color: $darkblue;
        font-weight: 300;
    }
  }
}
// end main content

// desktop responsive
@media screen and (max-width: 1440px) {
    body {
        header{
          height: 70vh;
          .rightNav{
            width: 65%;
            .currentWork{
                top: 2vh;
                right: 2vh;
                transform: scale(0.8);
            }
            .delivery{
                transform: scale(0.8);
                font-size: 17px;
            }
          }
          .leftNav{
            width: 30%;
            .logo{
                margin-bottom: 7%;
            }
            .location{
                height: 19%;
                h1{
                    font-size: 40px;
                    font-weight: 600;
                }
                .details{
                    font-size: 14px;
                    width: 55%;
                }
            }
            .quickDescription{
                height: 30%;
                h2{
                    font-size: 28px;
                }
                .price{
                    width: 55%;
                    height: 45%;
                    box-shadow: 8px 10px white, 8px 10px 0 2px $blue;
                    .from{
                        width: 85%;
                        font-size: 11px;
                    }
                    .priceInfo{
                        width: 85%;
                        font-size: 32px;
                    }
                    &:hover{
                        box-shadow: 5px 7px white, 5px 7px 0 2px $blue;
                    }
                }
            }
          }
        }
        main{
            width: 90vw;
            .mainContent{
                width: 60%;
                h3{
                    font-size: 32px;
                }
                .checklist{
                    li{
                        width: 80%;
                        font-size: 18px;
                    }
                }
                p{
                    font-size: 18px;
                }
                .firstParagraph{
                    margin-top: 2vh;
                }
                .photo{
                    width: 80%;
                    height: 45vh;
                    box-shadow: 17px 17px 0px $darkblue;
        
                    &:hover{
                        box-shadow: 8px 8px 0px $darkblue;
                    }
                }
            }
            .formContainer{
                width: 30%;
                height: 130vh;
                margin-top: -30vh;
                .container{
                    top: 10vh;
                    height: 80vh;
                    display: flex;
                    h4{
                        font-size: 22px;
                        width: 19ch;
                    }
                    .form{
                        width: 85%;
                        height: 85%;
                        .input{
                            height: 40px;
                            margin-bottom: -2%;
                            padding-left: 10px;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        input[type=radio]{
                            transform: scale(1.1);
                            margin-right: 7%;
                        }
                        .customMessage{
                            font-size: 14px;
                        }
                        .termsAndConditions{
                            margin-bottom: 2%;
                        }
                        .submit{
                            width: 100%;
                            height: 45px;
                            p{
                                font-size: 16px;
                            }            
                        }
                        .fieldsRequired{
                            bottom: 2%;
                            left: -25%;
                            font-size: 12px;
                        }
                    }
        
                }
            }
        }
      
        footer{
            height: 20vh;
            h5{
                width: 90vw;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    body {
        header{
            .rightNav{
                width: 65%;
                .currentWork{
                    transform: scale(0.8);
                }
                .delivery{
                    transform: scale(0.8);
                    left: -1vw;
                    font-size: 17px;
                }
            }
            .leftNav{
                width: 30%;
                .logo{
                    margin-bottom: 7%;
                }
                .location{
                    height: 15%;
                    h1{
                        font-size: 32px;
                        font-weight: 600;
                    }
                    .details{
                        font-size: 14px;
                        width: 65%;
                    }
                }
                .quickDescription{
                    height: 30%;
                    justify-content: space-evenly;
                    h2{
                        font-size: 18px;
                    }
                    .price{
                        width: 65%;
                        height: 45%;
                        box-shadow: 8px 10px white, 8px 10px 0 2px $blue;
                        .from{
                            width: 85%;
                            font-size: 11px;
                        }
                        .priceInfo{
                            width: 85%;
                            font-size: 28px;
                        }
                        &:hover{
                            box-shadow: 5px 7px white, 5px 7px 0 2px $blue;
                        }
                    }
                }
            }
        }
      
        main{
            margin-top: 10vh;
            width: 90vw;
            .mainContent{
                width: 60%;
                h3{
                    font-size: 26px;
                    color: $darkblue;
                }
                .checklist{
                    li{
                        width: 80%;
                        font-size: 16px;
                    }
                }
                p{
                    font-size: 16px;
                }
                .firstParagraph{
                    margin-top: 1vh;
                }
                .photo{
                    width: 80%;
                    height: 35vh;
                    box-shadow: 17px 17px 0px $darkblue;
        
                    &:hover{
                        box-shadow: 8px 8px 0px $darkblue;
                    }
                }
            }
            .formContainer{
                width: 32%;
                height: 130vh;
                margin-top: -30vh;
                .container{
                    transform: scale(0.9);
                }
            }
        }
      
        footer{
            height: 20vh;
            h5{
                width: 89vw;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    body {
        header{
            .rightNav{
                width: 60%;
                .currentWork{
                    transform: scale(0.75);
                }
                .delivery{
                    transform: scale(0.75);
                    left: -2vw;
                }
            }
            .leftNav{
                width: 35%;
                .location{
                    h1{
                        font-size: 30px;
                        font-weight: 600;
                    }
                    .details{
                        font-size: 12px;
                        width: 60%;
                    }
                }
                .quickDescription{
                    height: 30%;
                    justify-content: space-evenly;
                    h2{
                        font-size: 18px;
                    }
                    .price{
                        width: 65%;
                        height: 45%;
                        box-shadow: 8px 10px white, 8px 10px 0 2px $blue;
                        .from{
                            width: 85%;
                            font-size: 11px;
                        }
                        .priceInfo{
                            width: 85%;
                            font-size: 28px;
                        }
                        &:hover{
                            box-shadow: 5px 7px white, 5px 7px 0 2px $blue;
                        }
                    }
                }
            }
        }
        main{
            flex-direction: column;
            justify-content: space-between;
            .mainContent{
                width: 100%;
                margin-bottom: 10vh;
                h3{
                    font-size: 24px;
                    color: $darkblue;
                }
                .checklist{
                    li{
                        font-size: 14px;
                    }
                }
                p{
                    width: 50%;
                    font-size: 14px;
                }        
                .photo{
                    width: 50%;
                    height: 32vh;
                }
            }
            .formContainer{
                width: 45%;
                height: 0vh;
                margin-top: 0vh;
                .container{
                    height: 85vh;                    
                    width: 100%;
                    position: relative;
                    top: -98.75vh;
                    right: -25vw;
                }
            }
        }
    }
}
// end desktop responsive

// phone responsive
@media screen and (max-width: 800px) {
    body {
        header{
            flex-direction: column;
            height: 70vh;
            .rightNav{
                width: 100%;
                height: 55%;
                .currentWork{
                    transform: scale(0.8);
                }
                .delivery{
                    transform: scale(0.75);
                    left: -2vw;
                }
            }
            .leftNav{
                width: 100%;
                height: 45%;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                .logo{
                    display: none;
                }
                .location{
                    height: 100%;
                    width: 50%;
                    justify-content: center;
                    align-items: center;

                    h1{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .details{
                        transform: scale(0.8);
                        font-size: 12px;
                        width: 100%;
                    }
                }
                .quickDescription{
                    height: 100%;
                    width: 50%;
                    justify-content: center;
                    align-items: center;
                    h2{
                        font-size: 14px;
                    }
                    .price{
                        width: 80%;
                        height: 25%;
                        box-shadow: none;
                        margin: 0;
                        margin-bottom: -5%;
                        .from{
                            width: 85%;
                            font-size: 9px;
                        }
                        .priceInfo{
                            width: 85%;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        main{
            flex-direction: column;
            justify-content: space-between;
            margin-top: 2vh;
            .mainContent{
                width: 100%;
                margin-bottom: -5vh;
                h3{
                    font-size: 18px;
                    color: $darkblue;
                }
                .checklist{
                    li{
                        font-size: 12px;
                    }
                }
                p{
                    width: 100%;
                    font-size: 12px;
                }        
                .photo{
                    width: 100%;
                    height: 32vh;
                    box-shadow: none;
                }
            }
            .formContainer{
                width: 100vw;
                height: 110vh;
                margin-top: 0vh;
                margin-bottom: 10vh;
                .container{
                    height: 100%;                    
                    width: 100%;
                    position: unset;
                    .formContainer{
                        padding: 0;
                        width: 100%;
                        .form{
                            width: 90%;
                            height: 90%;
                            .doubleInput{
                                input{
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }

        }
        footer{
            width: 100vw;
            height: 40vh;
            margin-bottom: 10vh;

            h5{
                width: 90vw;
            }
        }
    }
}
// end phone responsive